body {
    background-image: url('anna-teather-fantasy-bk-anim.gif'); /* Substitua 'caminho-para-sua-imagem.jpg' pelo caminho real para a sua imagem */
    background-size: cover; /* Isso faz com que a imagem de fundo cubra toda a área do corpo */
    background-repeat: no-repeat; /* Evita que a imagem de fundo seja repetida */
  }
  

.container {
    display: flex; /* utilizado para agrupar as células*/
    justify-content: center; /* Centralize o conteúdo horizontalmente */
    align-items: center; /* Centralize o conteúdo verticalmente */
    
  
}

.grid {
    width: 240px;  /*12 * 20 */
    height: 420px; /*21 * 20 */
    /*width: 480px; /* 24 * 20 */
    /*height: 900px;  /*45 * 20 */
    display: flex; /* utilizado para agrupar as células*/
    flex-wrap: wrap;
    background-color: black;
}

.grid div {
    height: 20px;
    width: 20px;
    box-shadow: 1px 0px 0px gray, 0px 1px 0px gray; /* borda das células*/
}

.grid div.taken {
    background-color: grey;
    outline: 1px solid black; 
}

.grid div.border {
    background-color: grey;
    outline: 1px solid black; 
}

.tetromino {
    outline: 1px solid black; 
}


.mini-grid{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex; 
    flex-wrap: wrap; 
    background-color: grey;
}

.mini-grid div {
    height: 20px;
    width: 20px;
    box-shadow: 1px 0px 0px black, 0px 1px 0px black;
}

.centered-score {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    display: table; /* Use a propriedade table para centralizar horizontalmente */
    color: red;
}

.centered-text {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 auto;
    display: table; /* Use a propriedade table para centralizar horizontalmente */
    font-size: large;
}


.centered-button {
    background-color: white;
    font-size: large;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin: 0 0px; /* Adjust the margin to control spacing */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#change-size {
    color: blue; 
}

#start-button {
    color: purple; 
}