body {
    background-image: url('media/anna-teather-fantasy-bk-anim.gif'); /* Substitua 'caminho-para-sua-imagem.jpg' pelo caminho real para a sua imagem */
    background-size: cover; /* Isso faz com que a imagem de fundo cubra toda a área do corpo */
    background-repeat: no-repeat; /* Evita que a imagem de fundo seja repetida */
  }
  

.container {
    display: flex; /* utilizado para agrupar as células*/
    justify-content: center; /* Centralize o conteúdo horizontalmente */
    align-items: center; /* Centralize o conteúdo verticalmente */
    
    
}

.grid {
    width: 240px;  
    height: 420px; 
    display: flex; 
    flex-wrap: wrap;
    background-color: black;
}

.grid div {
    height: 20px;
    width: 20px;
    box-shadow: 1px 0px 0px gray, 0px 1px 0px gray; /* borda das células*/
}

.grid div.taken {
    background-color: grey;
    outline: 1px solid black; 
}

.grid div.border {
    background-color: grey;
    outline: 1px solid black; 
}

.tetromino {
    outline: 1px solid black; 
}


.mini-grid{
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex; 
    flex-wrap: wrap; 
    background-color: grey;
}

.mini-grid div {
    height: 20px;
    width: 20px;
    box-shadow: 1px 0px 0px black, 0px 1px 0px black;
}

.centered-score {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    display: table; /* Use a propriedade table para centralizar horizontalmente */
    color: red;
}

.centered-text {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px auto; /* Adicionado espaço superior (margem) de 10px */
    display: table; /* Use a propriedade table para centralizar horizontalmente */
    font-size: large;
}


.centered-button {
    background-color: white;
    font-size: large;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin: 0 0px; /* Adjust the margin to control spacing */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#change-size {
    color: blue; 
}

#start-button {
    color: purple; 
}

.table-container {
    margin-right: 60px;
}

.ranking-table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2; /* Cor de fundo cinza */
    color: #000; /* Cor do texto preto */
}


.ranking-table caption {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #f2f2f2; /* Cor de fundo cinza */
    color: #000; /* Cor do texto preto */
}


.ranking-table th, .ranking-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.ranking-table th {
    background-color: #f2f2f2;
}
